!!!
%html
  %head
    %title CalendarApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = link_to "Home", root_path, class: "btn btn-primary" 
    = link_to "Create Calendar", new_calendar_path, class: "btn btn-success"
    = yield
    %div{:style => "position: absolute; width: 600px; height: 800px;"}
  %div{:style => "position: fixed; bottom:5px"}
    Website design by Zach Roof, Adam Kelsey, & Troy Lima.